modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SUMUP_MERCHANT_CODE = "MC4VDM6U"
SUMUP_CLIENT_ID = "cc_classic_JhQeySSIPgx5auUwWew2iDhM891IO"
SUMUP_CLIENT_SECRET = "cc_sk_classic_2L9M9HpbX3Mx7fcizmRgVfpdYrszaNXQpNIfx7MkTtOXhGApXc"
SUMUP_READER_ID = "rdr_1NSYDFW7HZ8YN8F6P4TK2MZQ4W"
SUMUP_REFRESH_TOKEN = ""
SUMUP_USER_TOKEN = ""

[nix]
channel = "stable-25_05"
