modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SUMUP_CLIENT_ID = "cc_classic_3lcDQHRMJH1MKUls4LnbE8hkDvQNb"
SUMUP_CLIENT_SECRET = "cc_sk_classic_MhuszDMDgZXvA9Y4OcDF4bcV7UDABRXykDBXkxBealtEHkp00g"
SUMUP_READER_ID = "rdr_1NSYDFW7HZ8YN8F6P4TK2MZQ4W"
SUMUP_MERCHANT_CODE = "CCCYTVEHP"

[nix]
channel = "stable-25_05"
