modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SUMUP_MERCHANT_CODE = "MC4VDM6U"
SUMUP_READER_ID = "rdr_1NSYDFW7HZ8YN8F6P4TK2MZQ4W"
SUMUP_REFRESH_TOKEN = "rt_classic_p4jEYaArMpUIKQRoAeaplb08DhhTGZ66uP66bA1J0YgKHJw9HoKY5"
SUMUP_USER_TOKEN = "at_classic_wfZ9ux5V3zvQbJcFeqc0nkEfPu4dHshBRIqynuUpTkN2i5jNannbt"
SUPABASE_DATABASE_URL = "postgresql://postgres.yowfhpixlzbczycdfniy:O5j3fWwAc5vliaIlnuK1MOiq0DWy@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
GITHUB_PAT = "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"

[userenv.development]
SUMUP_DEV_CLIENT_ID = "cc_classic_5X3WhQqARmlwslp9gsGdAx90RCSzH"
SUMUP_DEV_CLIENT_SECRET = "cc_sk_classic_Xa1YjKwSK6XKL77U0cP3HyPLYJicxIEbvVSZ9uOu9pa3He9yqV"
SUMUP_REDIRECT_URI = "https://ef6aaffd-892e-4910-8a97-f1022ab16d6a-00-1ja4tgl9cqe7z.picard.replit.dev/callback"

[userenv.production]
SUMUP_REDIRECT_URI = "https://lntparis.replit.app/callback"

[nix]
channel = "stable-25_05"
